@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Oprah: You get a privacy policy! And you get a privacy policy! Everyone gets a privacy policy!</p>
    </div>

